@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.about {
  @include res('padding-top', 280px);
  @include res('padding-bottom', 220px);
  
  &__text {
    @include res('width', 760px);
    font-family: "Italiana", serif !important;
    @include res('font-size', 40px);
    text-align: center;
    margin: 0 auto;
  }

  &__img {
    @include res('width', 180px);
    @include res('height', 180px);
    margin: 10px auto;
  }

  &__circle {
    position: absolute;
    bottom: 20%;
    width: 30px;
    height: 30px;
    background: #F1EFEB;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}