@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.hero {
	&__line {
		height: "100px";
		border-left: "1px solid #ccc";
		transition: "transform 0.1s ease-out";
		z-index: 10;
		position: "absolute";
		left: "50%";
		bottom: 0;
	}

	&__btn {
		position: absolute;
		z-index: 99;
		left: 50%;
		top: 65%;
		transform: translate(-50%, -50%);
		color: #fff;
		border: 1px solid #fff;
		border-radius: 100px;
		@include res('padding-top', 17px);
		@include res('padding-bottom', 17px);
		@include res('padding-left', 35px);
		@include res('padding-right', 35px);
		@include res('font-size', 16px);
		text-transform: uppercase;
	}
}

.slide-content {
    width: 100%;
    min-height: 78svh;
	max-height: 500px;

    img {
        width: 100%;
        height: 100%;
    }
}

.swiper {
	min-height: 78svh;
	max-height: 500px;
	position: relative;
}

.swiper-text {
	font-family: "Italiana", serif !important;
	@include res('font-size', 66px);
	@include res('bottom', 180px);
	color: #fff;
	font-weight: 700;
}

.swiper-nav {
	position: absolute;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;

	&__list {
		gap: 30px;

		li {
			@include res('font-size', 16px);
			cursor: pointer;
		}
	}
}

.custom-pagination {
	display: flex;
	justify-content: center;
	gap: 8px;
	position: absolute;
	bottom: 20px !important;
	left: 50% !important;
	transform: translateX(-50%);
	z-index: 99;
}

.custom-pagination .swiper-pagination-bullet {
	width: 40px;
	height: 5px;
	background-color: #dadada;
    opacity: 0.7;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.custom-pagination .swiper-pagination-bullet::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0%;
	height: 100%;
	background-color: #ff0505;
	transition: width 4s linear;
}

.custom-pagination .swiper-pagination-bullet-active::before {
	width: 100%;
}

.custom-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
	transition: none;
	width: 0%;
}
